html, body{
    margin: 0px;
    padding: 0px;
    position: relative;
    background:linear-gradient(   
        hsl(0, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 0.738) 19%,
        hsla(0, 0%, 0%, 0.541) 34%,
        hsla(0, 0%, 0%, 0.382) 47%,
        hsla(0, 0%, 0%, 0.278) 56.5%,
        hsla(0, 0%, 0%, 0.194) 65%,
        hsla(0, 0%, 0%, 0.126) 73%,
        hsla(0, 0%, 0%, 0.075) 80.2%,
        hsla(0, 0%, 0%, 0.042) 86.1%,
        hsla(0, 0%, 0%, 0.021) 91%,
        hsla(0, 0%, 0%, 0.008) 95.2%,
        hsla(0, 0%, 0%, 0.002) 98.2%,
        hsla(0, 0%, 0%, 0) 100%);
    box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
    font:{
        family:$font-family-sans-serif_main;
    }
}
#layoutdiv{
    height: 100%;
    background-color: rgba(133, 133, 133, 0.5);    
    padding-top: 10px;
    padding-bottom: 20px;
}
#footer{
    border-color: #eeeeee;
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0px 3px 0px #9b9b9b, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: 0px 3px 0px #9b9b9b, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: 0px 3px 0px #9b9b9b, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
    margin-bottom: 0px;
}
.block-contact{
	display:inline-block;
	vertical-align: top;
	padding-right:10%;
	padding-right:10%;
}
