@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
.panel-conic{
    padding:{
        top: 5px;
    }
    border-radius: 4px;
    background: rgba(238,238,238, .7);
}
.panel-heading-conic{
    position: relative;
    z-index: 1;
    width: 100%;
    padding:{
        top: 5px;
        bottom: 5px;
    }
    text-align: center;
    border:{
        width: 0px;
        top-right-radius:3px;
        top-left-radius:3px;
    }
    font:{
        size: $font-size-ext;
        family:$font-family-sans-serif_main;
    }
    @extend %text-decor-white;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    transition: border-color .125s ease-in;
        &:after{
            pointer-events: all;
            position: absolute;
            z-index: -1;
            content: "";
            left: -5%;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: inherit;
            -webkit-transform: skewX(-25deg);
            -moz-transform: skewX(-25deg);
            -ms-transform: skewX(-25deg);
            transform: skewX(-25deg);
            @include vertical-linear-gradient($curve_decoration_from, $curve_decoration_to);
            -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
            -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
            box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
            -webkit-transition: all ease-in-out .15s;
            -o-transition: all ease-in-out .15s;
            transition: all ease-in-out .15s;
        }
    
}
.panel-body-conic{
    padding: 15px;
}
.conic-header{
    color: rgba(255, 255, 255, 0.9) !important;
    text-shadow: 0px -0.5px 0px #000, 0px 0.5px 0px #000;
    text-align: center;
    margin: 0px auto;
    padding-top: 20px;
}
.content{
    padding-top: 30px;
}
.control-label{
    color: rgba(13, 13, 13, 0.9);
    text-shadow: 0px -1px 0px #8b8b8b, 0px 1px 0px #8b8b8b, 0px 0px 0px rgba(255,255,255,0.5);
    line-height: 1.5;
}
.form-control{
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.form-control:focus{
    border-color:rgb(67, 67, 67);
        -webkit-box-shadow: 0 1px 5px rgba(236, 233, 230, 1);
        box-shadow: inset 0 0px 3px rgba(0,0,0,.3), 0 1px 1px rgba(236, 233, 230, 1), 0 0px 5px rgba(236, 233, 230, 1);
}
.form-control:hover{
    border-color:rgb(67, 67, 67);
        -webkit-box-shadow: 0 1px 5px rgba(236, 233, 230, 1);
        box-shadow: 0 0px 1px rgba(236, 233, 230, 1);
}

.days {
    width: 15%;
    padding-right: 0;
}
.months {
    width: 20%;
    padding-right: 0;
    padding-left: 0;
}
.years {
    width: 15%;
    padding-left: 0;
}
input[type=radio] {
	height: 50px;
	width: 50px;
	background: red; 
}
/* The radio */
.radio {
    color: #555555;
    display:inline !important;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio[for="Male"] {
    margin-right:35px;
}


/* Create a custom radio button */
.checkround {
    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff ;
    border-color:#FFF;
    border-style:solid;
    border-width:2px;
    border-radius: 50%;
    &:hover{
        -webkit-box-shadow: 0 0px 5px rgba(236, 233, 230, 1);
        box-shadow: 0 0px 5px rgba(236, 233, 230, 1);
    }
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
    background-color: #fff;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkround:after{
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after{
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:#434343;
}
.checkbox {
    display: block;
    padding-left: 40px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: left;
    }
  .checkbox label {
      width: 100%;
      height: 100%;
    display: inline-block;
    position: relative;
    padding-left: 5px;
    text-shadow: none;
    color: black;
  }

  .sport{
    display: block;
    &:before{
        content: "";
        font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
        font-weight: 900;
        padding-left: 2px;
        position: absolute;
        width: 22px;
        height: 22px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;    
        }
}
.sport .fas{
    display: none;
}
.sport_all{
    display: block;
    &:before{
        content: "";
        font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
        font-weight: 900;
        padding-left: 2px;
        position: absolute;
        width: 22px;
        height: 22px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;    
        }
}
.sport_all .fas{
    display: none;
}
  
input[type=checkbox]{
    opacity: 0;
    cursor: pointer;
    &:checked {
        &+ .fas{
            display: inline-block;
            position: absolute;
            width: 12px;
            height: 12px;
            left: 0;
            margin-left: -20px;
            padding-left: 4px;
            padding-top: 4px;
        }
    }
}
.checkbox{
    padding-left: 30px;
    margin-left: 15px;
    margin-right: -25px;
}

.s_level{
    margin-bottom: 3px;
}
.btn-conic{
    @extend %text-decor-white;
    @include vertical-linear-gradient(#0e83aa, #006580);
    border:{
        color:transparent;
        radius:0px;
    }
    font:{
        family:$font-family-sans-serif_main;
    }
    &:hover{
        @include vertical-linear-gradient(#0c6887, #004a5f);
    }
}
.btn-cancel{
    @extend %text-decor-white;
    @include vertical-linear-gradient(#bf5329, #ac4a23);
    border:{
        color:transparent;
        radius:0px;
    }
    font:{
        family:$font-family-sans-serif_main;
    }
    &:hover{
        @include vertical-linear-gradient(#af471f, #8e3714);
    }
}






