.curve_decoration:hover:after{
    color:rgba(255, 255, 255, 0.6) !important;
   background: #800000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #800000, #9b0202); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #800000, #9b0202); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: all ease-in-out .1s;
  -o-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
 -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
  -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
  box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
  color:rgba(255, 255, 255, 0.9) !important;

}
.curve_decoration{
  padding: 10px 0px 10px 20px;
  right:-10%;
  position: relative;
  z-index: 3;
  border: none;
  font-family: 'Anton', sans-serif;
  font-family: 'Roboto', sans-serif;
  color:rgba(255, 255, 255, 0.9) !important;
  text-transform: uppercase;
  text-shadow: 0px  -0.5px 0px #000, 0px 0.5px 0px #000;
  background-color:transparent;
}
.curve_decoration:after{
  pointer-events: all;
      position: absolute;
      z-index: -1;
      content: "";
      right: -5%; 
      top: 0;
      height: 100%;
      width: 150%;
      -webkit-transform: skewX(-25deg);
      -moz-transform: skewX(-25deg);
      -ms-transform: skewX(-25deg);
      transform: skewX(-25deg);
              background-color: rgba(128,0,0,.5);
/*    -webkit-transform: perspective(120px) rotateX(-10deg);
  -o-transform: perspective(120px) rotateX(-10deg);
  -moz-transform: perspective(120px) rotateX(-10deg);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;*/

   background: rgba(128,0,0,.5); /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(128,0,0,.5), rgba(155,2,2,.5)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(128,0,0,.5), rgba(155,2,2,.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.3), inset 0px 1px 0px rgba(206,206,206,.1), inset 0px 0px 3px rgba(206,206,206,.3);
  -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.3), inset 0px 1px 0px rgba(206,206,206,.1), inset 0px 0px 3px rgba(206,206,206,.3);
  box-shadow: 0px 3px 15px rgba(0,0,0,.3), inset 0px 1px 0px rgba(206,206,206,.1), inset 0px 0px 3px rgba(206,206,206,.3);
}

.curve_decoration.active{
  position:relative;
  padding: 12px 0px 12px 20px;
  color:rgba(255, 255, 255, 0.9) !important;
border-right-color: #fff;
border-bottom-left-radius: 0rem;
border-top-right-radius: 0;
margin-right: -1px;
}
.curve_decoration.active:after {
  pointer-events: all;
      position: absolute;
      z-index: -1;
      content: "";
      left: -15%;
      top: 0;
      height: 100%;
      width: 120%;
      background-color: inherit;
  -webkit-transform: perspective(120px) rotateX(-10deg);
  -o-transform: perspective(120px) rotateX(-10deg);
  -moz-transform: perspective(120px) rotateX(-10deg);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  background: #800000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #800000, #9b0202); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #800000, #9b0202); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
  -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
  box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
  -webkit-transition: all ease-in-out .15s;
  -o-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
}
.button_div_right{
    text-align: right;
    width: 80%;
    margin: 0px auto;
}
.button_div_left{
    text-align: left;
    width: 80%;
    margin: 0px auto;
}
.addbutton{
    border-radius:50% !important;
    color: #10709c;
    text-transform:uppercase;
    background: transparent;
}
.addbutton:hover,
.appliedbutton:hover{
background: #d9d9d9;
border-color:#b6b6b6;
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
box-shadow: 0px 0px 1px rgba(0,0,0,.5);
}
.addbutton:focus,
.appliedbutton:focus{
background: #d9d9d9;
border-color:#b6b6b6;
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
box-shadow: 0px 0px 1px rgba(0,0,0,.5);
}
.trashbutton .fas,
.plusbutton .fas{
    font-size:1.5em;
    padding:5px 2px 4px 2px;
    text-shadow: 0px 0px 1px #fff;        
}
.backbutton{
    &:hover,
    &:focus{
        color: #216a94 !important;
        text-decoration: none;
        text-shadow: 0px 0px 1px #fff;        
    }
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px -0.5px 0px #000, 0px 0.5px 0px #000;
    text-transform:none;
    p{
    margin-bottom: 0px;
    font-size: 18px;
    display: inline-block;
    margin-left: 10px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.table-timeframe-apply .multiselect-native-select{
}
.table-timeframe-apply .multiselect-native-select .appliedbutton{
    padding:3px 7px 3px 7px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 2px !important;
    margin-right: 3px !important;
}
.table-timeframe-apply .multiselect-native-select .addbutton{
}
.table-timeframe-apply,
.table-timeframe-apply th,
.table-timeframe-apply td{    background:white;
    border-width: 0px 0px 1px 1px;
    border-color: white;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1em;
    text-shadow: 0px -0.5px 0px rgb(189, 189, 189), 0px 0.5px 0px rgb(189, 189, 189);
    table-layout: fixed;
}
.table-timeframe-apply th{
    background-color: #eee;
    margin: .3rem;
    color: #424242;
    text-shadow: 0px -0.5px 0px rgb(218, 218, 218), 0px 0.5px 0px rgb(198, 198, 198);
}
.table-timeframe-apply td.field-label{
    background-color: #c3c3c3;
    margin: .3rem;
    color: #424242;
    text-shadow: 0px -0.5px 0px rgb(218, 218, 218), 0px 0.5px 0px rgb(198, 198, 198);
}
.table-timeframe-apply td:not(.field-label){
    background:transparent;
     font-size: .9em;
    border: 0px;
    padding: 0px !important;
    box-shadow: inset 0px 0 1px 0px #9a9a9a87;
   
}
.table-timeframe-apply tr,
.table-timeframe-apply td,
.table-timeframe-apply th{
    white-space: normal;
}
.table-timeframe-apply tr:hover{
    background: #c3c3c3;
}
.table-apply,
.table-apply td, .table-apply th{
    z-index: 9;
    height:1% !important;
    border-width: 0px 0px 1px 1px;
    border-color: white;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1em;
    text-shadow: 0px -0.5px 0px rgb(189, 189, 189), 0px 0.5px 0px rgb(189, 189, 189);
}
.table-apply td:not(.field-label){
    font-size: .9em;
    background: #fff;
    border: 0px;
    padding: 0px !important;
    box-shadow: inset 0px 0 1px 0px #9a9a9a87;
}
.table-apply td:not(.field-label):hover{
    box-shadow: none;
}
.table-apply td label,
.table-apply th label{
    margin-bottom:0;
}
.table-apply tr:hover{
    background: #000;
}
.table-apply th{
    background-color: #eee;
    margin: .3rem;
    color: #424242;
    text-shadow: 0px -0.5px 0px rgb(218, 218, 218), 0px 0.5px 0px rgb(198, 198, 198);
}
tr,td,th{
    text-align: center;
    white-space:nowrap;
vertical-align: middle !important;
}
.age_num{
box-shadow: 1px 0 0px 0px #fff, 0px 0 3px 0px #fff;
    padding:0 !important;
    background: rgb(195, 195, 195);
//    background: rgb(255, 255, 255);
}
.age_cat{
box-shadow: 1px 0 0px 0px #fff, 0px 0 3px 0px #fff;
//box-shadow: 0px 0px 1px #000;
    padding:0 !important;
    background: rgb(195, 195, 195);
//    background: rgb(255, 255, 255);
}
.years_th:after{
   content: ' *';
   font-family: FontAwesome;
   color:#800000;
}
.table-explain:before{
   content: ' *';
   font-family: FontAwesome;
   font-size: 16px;
   color:#800000;
   padding-right: 5px;
}
.shad_d{
    width: 100%;
    height: 100%;
    display: block;
 -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.shad_d:hover{
    box-shadow: inset -2.5px -2.5px 0px 0px rgba(186, 122, 122, 0.4);
    background: rgb(238, 238, 238);}
.total{
    font-size: .85em;
    font-weight: bold;
    box-shadow: 0px 0px 2px #000000;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.9);
    padding:3px 9px 5px 9px;
    fornt-size:1em;
    border-radius: 50%;
}
.cell_bottom,
.blanc{
    background:transparent !important;
    box-shadow: none !important;
}
.price_edit{
    text-shadow: 0px -0.5px 0px #000, 0px 0.5px 0px #000;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 1.2em;
}

.blanc{
    background: transparent !important;
}
.born_y{
    margin-bottom: 5px;
    display: inline-block;
    padding-bottom: .1px;
    box-shadow: inset 0 -7px 3px -4px rgba(149, 149, 149, 0.9);
}








.field-label.curve_decoration.active{
    text-shadow: 0px -0.5px 0px #000, 0px 0.5px 0px #000;
}
.field-label.curve_decoration.active:after{
    left: -60%;
    width: 160%;
}
.identity-header{
        text-align: center;
    margin: 0px auto;
    width:80%;

}
#fiedsofform .identity-page{
    text-align: center;
    margin: 0px auto;
    width:100% !important;
}

.identity-page{
    text-align: center;
    margin: 0px auto;
    width:70%;
}
.identity-page input[type=password]{
    width:  60% !important;
}
.identity-page .row{
    margin-right: 0px;
    margin-left: 0px;    
}    
.identity-page .row.pass{
    width:  60% !important;
margin: 0px auto;
}    
.pass{
    width:  60% !important;
margin: 0px auto;
}    
.page-content.identity-page .form-control{
    width:100%;
}
.page-content.identity-page label span{
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top:1px;
    padding-bottom:1px;
    text-align: left;
}
.page-content.identity-page label span .radio-field,
.page-content.identity-page label .radio-field
{
    text-align: left;
display: inline-block;
}


.page-header.ajax-header{
    text-align: center;
}
.page-content.ajax-page{
    border-radius:10px;
    padding: 20px 0px 30px 0;
    text-align: center;   
}
.page-content.identity-page{
    border-radius:10px;
    padding: 20px 0px 30px 0;
    text-align: center;   
}
.page-content.ajax-page .form-control{
              line-height: 1.42857143;
        color: #383737;
    font-weight: 400;
    fonr-size: 1em;
    font-family: 'Anton', sans-serif !important;
    white-space: normal;

    width:80%;
}
    .explain{
        line-height:1em;
        font-family: 'Anton', sans-serif;
        font-family: 'Roboto', sans-serif;
        text-align: left;
        margin-left: 0% !important;
        color: rgb(226, 226, 226) !important;
        background-color: transparent;
        border: none;
        font-size: .9em !important;
        font-weight: light;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5) !important; 
        white-space: normal;
        padding-top: 7px !important;    
    }
    .table-explain{
        color: black !important;
        text-shadow: none !important;
        margin: 0px 0px 10px 10px !important;
        padding:0 !important;
    }
.page-content.ajax-page label span:not(.multiselect-native-select):not(.multiselect-selected-text){
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top:1px;
    padding-bottom:1px;
    text-align: left;
    color:rgba(0, 0, 0, 0.9);
    background-color: transparent;
    border: none;
    font-size: 1em;
    text-shadow: 0px -0.5px 0px rgb(129, 129, 129), 0px 0.5px 0px rgb(159, 159, 159);
//    text-transform: uppercase;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.pointer {
    background-color:white;
    margin-left:-10px;
    margin-top:-10px;
    width:30px;
    height:30px;
    border-radius:50%;
    position:absolute;
    cursor:pointer;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
  transform: rotate(45deg);
}
.pointer_span{
    transform: rotate(-45deg);
    display: block;
    margin-left: -30px;
    margin-top: -20px;
    padding-bottom: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none !important;
}
.wishes-page .pointer:hover{
}
.wishes-page{
    float:right;
}
.legend{
    display:block;
    padding-right:10px;
    text-shadow: 0px -0.5px 0px #000, 0px 0.5px 0px #000;
    color: rgba(255, 255, 255, 0.9) !important;
}
.legendlabel:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.legendlabel:after{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.location_name_map_legend{
    display: inline-block;
    vertical-align: text-bottom;
}
.legend_pointer{
    margin-left:0px;
    margin-top:0px;
    background-color:white;
    width: 30px;
    height: 30px;
    border: 3px solid red;
    border-radius:50%;
    position:relative;
    display: inline-block;
    -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    transform: rotate(45deg);
}
.legend_pointer.confirmed{
border: 4px solid green;
}
.legend_pointer.camp{
    border-color: blue;
}
.pointer.confirmed{
border: 4px solid green;
}
.pointer.notconfirmed{
border: 4px solid red;
}
.legend_pointer.notconfirmed{
border: 4px solid red;
}
.pointer:hover{
    width:40px;
    height:40px;
    -webkit-transition: margin  ease-in-out .1s, width ease-in-out .1s, height ease-in-out .1s;
    -o-transition: margin  ease-in-out .1s, width ease-in-out .1s, height ease-in-out .1s;
    transition: margin  ease-in-out .1s, width ease-in-out .1s, height ease-in-out .1s;
    border-radius:50%;
    margin-left:-15px;
    margin-top:-10x;
}
#imagecont{
//    background:url(http://localhost/prestadebug/img/map.png) no-repeat center  ;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:contain;
position:relative;
overflow:hidden;
  margin: 0 auto;
}
.tab-content {
    width:100%;
    position: relative;
    background: #888889;
    margin-left:0;
    margin-right:0;
    min-height:600px;
    -webkit-box-shadow:  0px 1px 0px rgba(206,206,206,.3), 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: 0px 1px 0px rgba(206,206,206,.3), 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: 0px 1px 0px rgba(206,206,206,.3), 0px 0px 3px rgba(0,0,0,.5);
}
#myTab{
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow:  0px 1px 0px rgba(206,206,206,.3), 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: 0px 1px 0px rgba(206,206,206,.3), 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: 0px 1px 0px rgba(206,206,206,.3), 0px 0px 3px rgba(0,0,0,.5);
//    margin-right:10%;
}
.transformer-tabs{
    display: flex;
    -webkit-box-shadow: 0px 3px 0px #9b9b9b, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: 0px 3px 0px #9b9b9b, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: inset 0px 3px 0px #9b9b9b, inset 0px 3px 15px rgba(0,0,0,.4), 0px 1px 0px rgba(206,206,206,.3), 0px 0px 3px rgba(206,206,206,.5);
}
.link-list {
//  margin: 0 15px;
  border-bottom: none;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width:260px;
}
.link-list .nav-item {
  position: relative;
  color: white;
  z-index: 3;
}
.link-list .nav-item:first-child {
  margin-top:5px;
}
.link-list .nav-item:nth-child(n+2){
      margin-top:10px;

}
.link-list .nav-item:not(.active){
    overflow: hidden;
}
.link-list .nav-item.active{
    overflow: visible;
}

.shadow_box{
    width:100%;
    height:100%;
    -webkit-box-shadow: inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: inset 7px 0 9px -7px rgba(206,206,206,.3);
}
.nav-link{
    display: block;

}
/*.link-list .nav-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    color:rgba(0, 0, 0, 0.5) !important;
    background: #800000; /* fallback for old browsers */
 /*   background: -webkit-linear-gradient(to bottom, #800000, #9b0202); /* Chrome 10-25, Safari 5.1-6 */
 /*   background: linear-gradient(to bottom, #800000, #9b0202); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /*   -webkit-box-shadow: inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: inset 0px 1px 0px rgba(206,206,206,.3), inset 2px 0px 3px rgba(206,206,206,.5);
  min-width:260px;
    border: none;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.5) !important;
    text-shadow: 0px  -0.5px 0px #fff, 0px 0.5px 0px #fff;
    text-transform: uppercase;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  transition: border-color .125s ease-in;
  white-space: nowrap;
}
.link-list .nav-link:after{
    pointer-events: all;
		position: relative;
		z-index: -1;
		content: "";
		right: -10%;
		top: 0;
		height: 100%;
		width: 50%;
		background: inherit;
		-webkit-transform: skewX(-25deg);
		-moz-transform: skewX(-25deg);
		-ms-transform: skewX(-25deg);
		transform: skewX(-25deg);
    -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: 3px 0px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
	}
.link-list .nav-link:before{
    pointer-events: all;
		position: absolute;
		z-index: -1;
		content: "";
		left: -40%;
		top: 0;
		height: 100%;
		width: 100%;
		background: inherit;
		-webkit-transform: skewX(-25deg);
		-moz-transform: skewX(-25deg);
		-ms-transform: skewX(-25deg);
		transform: skewX(-25deg);
    -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: 3px 0px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
	}
.link-list .nav-link.active {
//  border-bottom-color: #ddd;
  padding: 0.7rem 0.7rem 0.7rem 1.5rem;
  position: relative;
  border-right-color: #fff;
  border-bottom-left-radius: 0rem;
  border-top-right-radius: 0;
  margin-right: -1px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: inset 0px 1px 0px rgba(206,206,206,.3), inset 2px 0px 3px rgba(206,206,206,.5);
}
.link-list .nav-link.active:after {
    pointer-events: all;
		position: absolute;
		z-index: -1;
		content: "";
		left: 60%;
		top: 0;
		height: 100%;
		width: 70%;
		background-color: inherit;
		-webkit-transform: skewX(-25deg);
		-moz-transform: skewX(-25deg);
		-ms-transform: skewX(-25deg);
		transform: skewX(-25deg);
}*/
 #location_title{
    width: fit-content;
    display: inline-block;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 0px 2px #000000;
    padding:5px 9px 5px 9px;
    width: auto;
    height: auto;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 2px !important;
    margin-right: 3px !important;
    text-shadow: #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px;
 }
 .loading{
    background: rgba(136, 136, 137,.5);
    display: none;
    position:absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    height:100%;
 }
 .loading2{
    background: rgba(136, 136, 137,.5);
    display: none;
    position:absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    height:100%;
 }
 .loading-wheel {
    position:relative;
    top: 40%;
    width: 20px;
    height: 20px;
    margin: 0px auto;
    
    
    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    border-style: double;
    border-color: #ccc transparent;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}


.nav-tabs--left .nav-link:hover {
//  background-color: #f7f7f7;
//  border-color: transparent;
}
.nav-tabs--left .nav-link.active:hover {
    color:(0,0,0,.9);
//  background-color: #fff;
//  border-color: #0275d8 #fff #0275d8 #0275d8;
}
input{
    color:black;
}
#fiedsofform{
    margin-bottom: 20px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .loading-wheel {
        position: relative;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .loading-wheel {
        position: relative;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
    #maTab {
        margin-right:0px;
    }
    .loading-wheel {
        position: relative;
    }
}
@media(min-width:768px){
    .loading-wheel {
        position: relative;
    }
}
@media(min-width:992px){
    .loading-wheel {
        position: relative;
    }
}
@media(min-width:1200px){
    .loading-wheel {
        position: relative;
    }
}








@media (max-width: 700px) {
}
.tabs{
//    display:table-row;
}
.tabs > div{
 //   display:table-cell;
}
/*body {
  padding: 1rem;
  background: #333;
  color: white;
  font: 100%/1.4 Sans-Serif;
}*/

body #wrapper .page-header{
    color:rgba(255, 255, 255, 0.9) !important;
    text-shadow: 0px  -0.5px 0px #000, 0px 0.5px 0px #000;
}


.modal-close{
        padding: 5px;
    text-align: right;
    padding-right: 10px;
}
.modal-nav-tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
}

    .modal-nav-item {
        display: table-cell; /* [4] */
    }

        .modal-nav-link {
            height:80px;
            display: block; /* [5] */
        }
        .modal-nav-link.active img{
            width:25%;
            height:100%;
            padding-right:10px;
        }
        .modal-nav-link img{
            width:25% !important;
            height:auto !important;
            padding-right:10px;
        }
        .sport_icon{
            padding: 8% 1% 10% 5%;
            background: #dfdfdf;
            border-radius: 50%;
        }
.modal-content{
    border-radius:0px !important;
    background:#dfdfdf;
}

.modal-nav-tabs {
    text-align: center;
    overflow: hidden; /* [1] */
}
.modal-nav-tabs li {
    border-bottom: 1px solid #000;
    width: 25%;
}
.modal-nav-tabs a:hover {
    color: rgba(0,0,0,0.9) !important;
    background-color: #ededed;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.modal-nav-tabs a {
    transition: border-color .125s ease-in;
//    padding-top: 10px;
    padding: 10px 0px 0px 0px !important;
    margin-bottom: -15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.nav-tabs .nav-link:hover{
    color:rgba(0,0,0,.9) !important;
}
        .modal-nav-tabs a.active {
    border: 1px solid;
    border-color: #000 #000 #dfdfdf #000 !important;
    color: #000 !important;
    background-color:#dfdfdf !important;
    -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    }

    .modal-tab-content{
        position:relative;
        background: #dfdfdf;
        border: 0px solid #000;
        border-top: transparent;
        margin-top: -1px;
    }
    .girls{
        margin-bottom:1px;
        font-size: .85em;
        font-weight: bold;
        box-shadow: 0px 0px 2px #000000;
        background-color: #e76486;
 //       padding: 2px 9px 2px 9px;
         padding:3px 9px 3px 9px;
        font-size:1em;
       border-radius: 50%;
       margin-right: 5px;
    }
    .boys{
        font-size: .85em;
        font-weight: bold;
        box-shadow: 0px 0px 2px #000000;
        background-color: #70b7f0;
//        padding: 2px 9px 2px 9px;
        padding:3px 9px 3px 9px;
        font-size:1em;
        border-radius: 50%;
    }
    .boysgirls.active{
        z-index: 10;
}
    .boysgirls .bg_container{
        padding-top: 5px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .inner_td_list{
        background: #5a5a5a;
        list-style: none;
        padding: 5px 0px 5px 0px;
        margin: 0;
        text-shadow: 0px -0.5px 0px #000, 0px 0.5px 0px #000;
        color: rgba(255, 255, 255, 0.9) !important;
    }
    .inner_td_item:hover{
        background-color: #c0c0c094;
    }
    .inner_td_item{
        padding-left:15px;
        padding-right:5px;
        cursor:pointer;
       padding-bottom: 5px;
    }
    .legend_localations{
        margin-bottom:1px;
        background-color: #e76486;
       border-radius: 50%;
       width: 20px;
       height: 20px;
    }
    .inside_table{
        cursor:pointer;
        font-size: .85em;
        font-weight: bold;
        box-shadow: 0px 0px 2px #000000;
         padding:3px 9px 3px 9px;
         width: auto;
         height: auto;
         margin-top: 5px !important;
         margin-bottom: 5px !important;
         margin-left: 2px !important;
         margin-right: 3px !important;
 text-shadow: #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px;
   }
    .inside_table:hover{
        font-size: .95em;
        box-shadow: 0px 0px 4px #000000;
         padding:4px 10px 4px 10px;
 text-shadow: #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
             #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px;
   }
    .clicked{
        font-size: 1.1em;
        box-shadow: 0px 0px 2px #000000;
    }

    .tab-pane{
        display: inline-block;
    }
    .table_div{
        display:inline-block;
        margin-top: 10px;
    }
    .locaton_quantity{
        display:inline-block;
        margin-top: 10px;
        white-space: nowrap; 
    padding-left: 0;    }
    .filtering{
        display:block;
        margin-left: 10px;
        margin-top: 10px;
        margin-right:0;
    font-family: 'Anton', sans-serif;
    /*text-shadow: #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                 #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                 #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                 #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                 #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                 #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                 #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px,
                 #fff 0px 0px .5px,   #fff 0px 0px .5px,   #fff 0px 0px .5px;*/
    }
    .times{
        flex-wrap: nowrap;
        margin-left: 0;
        margin-right: 0;
    }
.plus_plus:hover{
    &i{
        display:block;
    }
}
.age_level_table{
    
}
    .pupilsempty{
        margin-top:40px;
        text-align: center;
        padding-left: 5px;
    }
    .pupilsul{
        margin-top:5px;
        padding: 0;
        list-style: none;
        text-align: left;
        padding-left: 5px;
        width: 80%;
        margin: 0px auto;
    }
    .pupilsli span{
        display: inline-block;
        padding: 8px;
        width: 100% !important;
        cursor:pointer;
    }
    .pupilsli span.active{
        background-color: #7e7e7e !important;
        color: #e1e1e1 !important;
        border: 1px solid #ccc;
        border-color: transparent !important;
        text-shadow: 0px 0px 1px #000;
        padding: 8px;
        margin-bottom: 1px;
        cursor:pointer;
        display: inline-block;
        font-size: 16px;
        line-height: 1.42857143;
        -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        box-shadow: 0px 0px 1px rgba(0,0,0,1);

        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;        
        
    }
    .pupilsli span:hover{
        background-color:#8a8a8a !important;
        -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        box-shadow: 0px 0px 1px rgba(0,0,0,1);
    }
    .pupilsli span.active:hover{
        background-color:#7e7e7e !important;
        -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        box-shadow: 0px 0px 1px rgba(0,0,0,1);
    }
    .pupilsli .checkbox.regist:not(:checked):hover{
        -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        box-shadow: 0px 0px 1px rgba(0,0,0,1);
    }
    .alert{
        width:80%;
        margin: 22px auto 0px auto;
    }

    .trashbutton{
    }
    .multiselect-native-select .addbutton{
        
    }
    .appliedbutton{
        border-radius:50% !important;
        color: #19b20c;
        text-transform:uppercase;
        background: transparent;
    }
    .appliedbutton .fas{
        font-size:1.8em;
        padding:5px 2px 4px 2px;
        text-shadow: 0px 0px 1px #fff;        
    }
    .in_modal{
        font-size:1.8em;
        padding:5px 2px 4px 2px;
        text-shadow: 0px 0px 1px #fff;        
        color: #19b20c;
        padding: 0;
    }
    .country{
        width: 100%;
        margin: 0px auto;   
    }
    #countries{
       margin: 0px auto;   
    }
    .birthday{
        width: 60%;
        margin: 0px auto;   
 
    }
    .spanleft{
        line-heigth:1;
        float:left;
        margin-left: 0% !important;
        display: inline-block;
        white-space: normal;

    }
    .required .spanleft:after{
        filter: drop-shadow(0px 0px 1px rgba(236, 233, 230, 0.5));
        color:#800000;
        content: ' *';
   font-family: FontAwesome;
    }
    .required #zipspan:after{
        filter: drop-shadow(0px 0px 1px rgba(236, 233, 230, 0.5));
        color:#800000;
        content: ' *';
   font-family: FontAwesome;
    }
    .required #townspan:after{
        filter: drop-shadow(0px 0px 1px rgba(236, 233, 230, 0.5));
        color:#800000;
        content: ' *';
   font-family: FontAwesome;
    }
    #zipspan{
        width: 40%;
        margin-right: 4%;
        float:left;
        display: inline-block;
        white-space: normal;
    }
    #firstname_span{
        width: 46%;
        margin-right: 4%;
        float:left;
        display: inline-block;
        white-space: normal;
    }
    #lastname_span{
        width: 50%;
        display: inline-block;
        white-space: normal;  
    }
    #townspan{
        width: 56%;
        display: inline-block;
        white-space: normal;  
    }
    #streetspan{
        width: 76%;
        margin-right: 4%;
        float:left;
        display: inline-block;
        white-space: normal;
    }
    #numberspan{
        width: 20%;
        display: inline-block;
        white-space: normal;  
    }
    #footleftspan{
        width:35%;
        float:left;
        display: inline-block;
        white-space: normal;
    }
    #footrightspan{
        width:35%;
        display: inline-block;
        white-space: normal;  
    }
    #footlength,
    #footsize{
        width: 35%
    }
    .OR{
        margin-left: 5.4% !important;
        margin-right: 5.8%;
    }
    input[name=helmet_size]{
    float:left;
    margin-left:10%;
    margin-right:3%;
    width:28% !important;
    }
    
/***************** Form elements ***************/
    .row .field_title{
        display: inline-block;
        width: 80%;
        margin: 0px auto;
    }
    .row .field{
        width: 80%;
        margin: 0px auto;
    }
    .pupils-list,
    .pupils-form{
        margin-left:0px;
        margin-right:0px;
    }
    .form-group:nth-of-type(7){
//        padding-top: 2rem;
    } 
    .form-group:last-of-type{
        padding-bottom: 2rem;
    } 
    .discipline{
        padding-bottom: 3rem;
    } 
    .optional{
        margin-bottom: -.32rem;
    }
    .optional .row.ziptownspan,
    .optional .btn-group
    {
        width:80% !important;
    }
    .level{
        width: 75%;
        float: none;
    }
    .firstcountries{
        font-weight: bold;
    }
    select[name=level_1]{
        width: 60% !important;
    }
    select[name=level_2]{
        width: 60% !important;
    }
    select[name=level_3]{
        width: 60% !important;
    }
    select[name=level_4]{
        width: 60% !important;
    }
    select[name=level5]{
        width: 60%;
    }
    .firstlastname{
        width: 60%;
        margin: 0px auto;
    }
    #zipcode{
        width: 50%;
    }
    #firstname{
        width: 46%;
        display: inline-block;
        margin-right:4%;
    }
    #lastname{
        width: 50%;
        display: inline-block;
 
    }
    #number{
        width: 50%; 
    }
    .notice{
        display:block;
        padding-top:3%;
            color: #7f0000;
    font-weight: bold;
    text-shadow: 0px 0px 1px #fff, 0px 0px 1px #000;
    }
    
    .form_title{
    font-size: 1.05em !important;
    color: rgba(13, 13, 13, 0.9) !important;
    text-shadow: 0px -1px 0px #8b8b8b, 0px 1px 0px #8b8b8b, 0px 0px 0px rgba(255,255,255,0.5)!important;
    font-family: 'Roboto', sans-serif !important;
    line-height: 1.5 !important;
    }
    .modal-tab-content{
    max-width: 100%;
    overflow-x: auto;
    }
.modal-dialog{
//    max-width: 80%;    
    }
.modal-content{
    border-radius:0px !important;
    background:#dfdfdf;
}
.multiselect-native-select{
        font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
font-weight: 100 !important;
}
.multiselect-container input + span:after {
  content: '';
  background-color:transparent;
  background-image: none;
  background-repeat:no-repeat;
  background-size :15px;
  display: block;
  width: 15px;
  height: 15px;
  
}
.multiselect-container span {
    margin: 0 !important;
display: inline-block !important;
right:5px;
  top:5px;
}
.checkbox input:checked + span:after {
  background-image: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678134-sign-check-128.png");
}
.modal-delete .checkbox{
    margin-left: 0; 
    margin-right: 0;
    margin-bottom: 2px;
    margin-top: 2px; 
}
.md_cont{
    line-height: 4.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
.multiselect.dropdown-toggle:after{
    float:right !important;
    margin: 10px 0 !important;
}
.modal-body{
    border:0px !important;
background: linear-gradient( hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.738) 19%, hsla(0, 0%, 0%, 0.541) 34%, hsla(0, 0%, 0%, 0.382) 47%, hsla(0, 0%, 0%, 0.278) 56.5%, hsla(0, 0%, 0%, 0.194) 65%, hsla(0, 0%, 0%, 0.126) 73%, hsla(0, 0%, 0%, 0.075) 80.2%, hsla(0, 0%, 0%, 0.042) 86.1%, hsla(0, 0%, 0%, 0.021) 91%, hsla(0, 0%, 0%, 0.008) 95.2%, hsla(0, 0%, 0%, 0.002) 98.2%, hsla(0, 0%, 0%, 0) 100%);
padding:0px;
}
.modal-body-wrapper{
padding: 1rem;
width:100%;
    height:100%;
    background-color: rgba(133,133,133,.5);
    
}    
.modal-header-delete{
background: linear-gradient(to bottom, #dfdfdf, #ababab);
color: #e20101;
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 1.6rem;
text-transform: uppercase;
text-shadow: 0px 0px 0.05px #00000073, 0px 0px 0.05px #0000006e;       
}
.modal-delete{
    background: transparent !important;
background-color: rgba(133,133,133,.5);
padding: 1rem;
font-size: 1.2rem;
}   
.modal {
    text-align: center;
}
.modal::before {
    content: "";      
    display: inline-block;
    height: 100%;    
    margin-right: -4px;
    vertical-align: middle;
}

.modal-dialog { 
    display: inline-block;  
    text-align: left;   
    vertical-align: middle;
}
#mapimage {
    width: 100%;
    height: 100%;
    text-align: left;
}
.del_regis{
    margin-bottom: 0px;
    list-style: none;
}
.caret,
.multiselect-selected-text
{
    display:inline-block;
    white-space: normal;
}
.pl-2 checkbox{
    font-weight: 100;
}
.multiselect.dropdown-toggle{
    width: 100%;
          line-height: 1.42857143;
        color: #383737;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0px;
        background-clip: border-box;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 0px 1px rgba(0,0,0,.075) !important;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.multiselect.dropdown-toggle:focus{
    border-color:rgb(67, 67, 67);
        -webkit-box-shadow: 0 1px 5px rgba(236, 233, 230, 1);
        box-shadow: 0 1px 1px rgba(236, 233, 230, 1), 0 0px 5px rgba(236, 233, 230, 1);
}
.multiselect.dropdown-toggle:hover{
    border-color:rgb(67, 67, 67);
        -webkit-box-shadow: 0 1px 5px rgba(236, 233, 230, 1);
        box-shadow: 0 0px 1px rgba(236, 233, 230, 1);
}
.bg-light{
    background-color:rgba(128, 73, 0, 0.5) !important;
}
.bg-light a:hover{
color:#383737 !important;
}
.select-field .multiselect-container{
    width:100%;
}
.multiselect-container{
    z-index: 1;
    margint-top:2px;
    border-radius: 0px;
    border: 1px solid #000;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
}
.multiselect-container li:not(.multiselect-reset):hover{
    background-color:#007bff;
}
.multiselect-container li a{
    color: #383737;
}
.multiselect-container li a:hover{
    color: #fff;
text-decoration: none;
}
.caret::after{
    float: right !important;
    margin: 10px 0 !important;
}
.notification ul{
    list-style: none;
}
.multiselect-reset:hover{
background-color:transparent;
}
.location_name_legend{
    padding-left:10px;
    display: inline-block;
vertical-align: super;
}
.location_label_legend{
    display: inline-block;
    vertical-align: baseline;
}
.menu_wrapper{
   display: inline-block; 
}
#menu {
display:none;
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 200px;
//    margin: -65% -65%;
    overflow: hidden;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}
#center {
    position: relative;
    left: 80px;
    top: 75px;
    width: 35px;
    height: 35px;
    z-index: 10;
    background: #eee;
 /*   background: linear-gradient(top, #eee, #aaa);
    background: -moz-linear-gradient(top, #eee, #aaa);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#aaa));*/
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}
#center .inside_table {
    padding-top: 25%;
}
#center .inside_table:hover {
        font-size: .85em;
        box-shadow: 0px 0px 4px #000000;
         padding:3px 9px 3px 9px;
    padding-top: 25%;
}
#center label {
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 100%;
    height: 100%;
}
.item {
opacity:0;
background: #aaa;
    overflow: hidden;
    position: absolute;
    width: 100px;
    height: 100px;
box-shadow: inset 0px 0px 3px #000;
    transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
   -moz-animation: fade-in .5s ease .8s forwards;
   -webkit-animation: fade-in .5s ease .8s forwards;
   -o-animation: fade-in .5s ease .8s forwards;
   -ms-animation: fade-in .5s ease .8s forwards;
    animation: fade-in .5s;
}
.item:hover {
    background: #eee;
    cursor: pointer;
}
.item1 {
    z-index: 1;
    margin-top: -5px;
    margin-left: -5px;
}
.item2 {
    z-index: 2;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin-top: -5px;
    margin-right: -5px;
}
.item3 {
    z-index: 3;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
        margin-right: -5px;}
.item4 {
    z-index: 4;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    margin-left: -5px;}
.item1 .content {
    left: 30%;
    top: 30%;
    width:60%;
    height:60%;
}
.item2 .content {
    width:65%;
    height:65%;
    left: 25%;
    top: 25%;
    transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -webkit-transform: rotate(-90deg);
}
.item3 .content {
    left: 10%;
    top: 5%;
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}
.item4 .content {
    left: 10%;
    top: 15%;
    transform: rotate(-280deg);
    -moz-transform: rotate(-280deg);
    -webkit-transform: rotate(-260deg);
}
.content, .content img {
    width: 90%;
    height: 90%;
}
.content {
//    position: absolute;
}
.opened{
    display:block !important;
opacity:1;

}
@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}
@-moz-keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}
@-webkit-keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}
@-o-keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}
@-ms-keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

.tabs_group_age {
    background:linear-gradient(to bottom, #c1c1c1, #a4a2a0);
    border-radius:5px;
    clear: both;
    position: relative;   
    margin: 0 auto;
    display:inline-block;
    box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);}

.tabs_levels {
    background:linear-gradient(to bottom, #c1c1c1, #a4a2a0);
    border-radius:5px;
    clear: both;
    position: relative;   
    margin: 0 auto;
    display:inline-block;
    box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);}

.tab {
    float: left;
}

.tab label {
font-size: .9rem;
padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:0;
    position: relative;
    top: 0;
    cursor: pointer;
    color: #333;
    box-shadow: none;
    text-transform: uppercase;
    background:linear-gradient(to bottom, #ebebeb, #d2d0cd);
    border-right:1px solid black;
}
.tab:last-of-type label{
       border-right:0px;
}

.tab [type=checkbox] {
	display: none;   
}
.tab [type=checkbox]:checked ~ label{
    border-right:0px solid black;
    box-shadow: inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(0,0,0,.5);
    color: #1d1d1d;
    background:linear-gradient(to bottom, #c1c1c1, #a4a2a0);
    font-weight: normal;
    z-index: 2;
}
.tab [type=checkbox]:checked ~ label:before{
    content:'\f00c';
   font-family: FontAwesome;
}
/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    .row.field{
        width:100%;
    }
    .pass{
        width:100%;
    }
    input[name=helmet_size]{
        margin-left:0;
    }
    .pupilsul{
        width: 100%;
    }
    .page-content.ajax-page .form-control{
        width:100%;
    }
    .optional .row.ziptownspan, .optional .btn-group{
        width:100% !important;
    }
    #myTab{
        margin-right:0px;
    }
.curve_decoration:not(.active):after{
    right: -10% !important;
    left:-15%;
    width:100% !important;
}
.link-list .nav-item{
  margin-top:0px !important;
}
  .transformer-tabs .link-list {
    border-bottom: 0;
    overflow: hidden;
    position: relative;
//    background: #666;
    /* fallback */
//    background: linear-gradient(#666, #222);
  }
  
  .transformer-tabs .link-list::after {
   content: '\f107';
   font-family: FontAwesome;
    font-weight: bold;
   font-style: bold;
   font-size: 30px;
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 3;
    color: white;
    pointer-events: none;
  }
  .transformer-tabs .link-list.open .nav-link {
    position: relative;
    display: block;
  }
  .transformer-tabs .nav-item {
      margin-top:0px;
    display: block;
max-width: 75.666667%;
  }
  .transformer-tabs .nav-link {
  position: absolute;
    top: 0;
    left: 25px;
    width: 100%;
    height: 100%;
  }
  .transformer-tabs .nav-link.active {
    border: 0;
    z-index: 1;
 //   background: #666;
    /* fallback */
 //   background: linear-gradient(#666, #222);
  }
    .tab-content {
        position: relative;
    }
    .loading-wheel {
        position: relative;
    }
}
