.auth-container{
//    width: 100%;
//    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }
}
.container-center{
//    display: inline-block;
    white-space: normal;
    vertical-align: middle;
}
.navbar{
    padding:0px;
    z-index:2;
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;
        border-color: #eeeeee;
        background: #ece9e6; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-box-shadow: 0px 3px 0px #9b9b9b, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        -moz-box-shadow: 0px 3px 0px #9b9b9b, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        box-shadow: 0px 3px 0px #9b9b9b, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
    //    -webkit-box-shadow: 0px 3px 0px #b0b0b0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    //    -moz-box-shadow: 0px 3px 0px #b0b0b0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    //    box-shadow: 0px 3px 0px #b0b0b0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    } 
    .navbar:before {
        content: "";
      position: absolute;
      width:100%;
      bottom: -3px;
      left: 0px;
    right: -3px;
      height: 4px;
      background-image: -webkit-gradient(linear, 15% 0, 100% 0, from(transparent), to(#7d0505));
      background-image: -webkit-linear-gradient(left, transparent 15%, #7d0505 100%);
      background-image: -moz-linear-gradient(left, transparent 15%, #7d0505 100%t);
      background-image: -o-linear-gradient(left, transparent 15%, #7d0505 100%);
    }
    .navbar:after {
        content: "";
      position: absolute;
      width:100%;
      bottom: -3px;
      left: 0px;
    right: -3px;
      height: 4px;
      background-image: -webkit-gradient(linear, 15% 0, 100% 0, from(transparent), to(#7d0505));
      background-image: -webkit-linear-gradient(left, transparent 15%, #7d0505 100%);
      background-image: -moz-linear-gradient(left, transparent 15%, #7d0505 100%t);
      background-image: -o-linear-gradient(left, transparent 15%, #7d0505 100%);
    }
    .collapse{
        background:transparent;
        border: 0px;
    }
    .container-fluid{
        z-index: 2;
        
    }
    .navbar-brand img{
        position: relative;
        background-size: contain;
        max-width:250px;
        object-fit: contain;
    }
    .navbar-brand{
        padding: 0px;
        display:table-cell;
    }
    .navbar-toggler{
        display:table-cell;
        z-index:2;
    }
    .container-fluid{
        display:table;
        padding-right: 15px;
        padding-left: 15px;
        }
    .icon-bar{
        background: white;
    }
    .navbar-collapse.in {
        background: #43434385;
    }
    .navbar .nav-link,
    .login .nav-link,
    .logout .nav-link{
        height:70px;
        color:rgba(0, 0, 0, 0.5) !important;
        background-color: transparent;
        border: none;
        padding-top: 1.3rem;
        font-family: 'Anton', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color:rgba(0, 0, 0, 0.5) !important;
        text-shadow: 0px  -0.5px 0px #fff, 0px 0.5px 0px #fff;
        text-transform: uppercase;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .navbar .nav-link:hover,
    .login .nav-link:hover,
    .logout .nav-link:hover{
        padding-top: 1.3rem;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid red;
        color: rgba(0, 0, 0, 0.9) !important;
    }
    .redline{
        width:100%;
        border: 0px;
        z-index: -1;
        height:100%;
        width:100%;
        background: #b00000;
        background: -webkit-linear-gradient(right, #940000 0%, #b00000 50%, transparent 100%); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(-65deg,  #303030 0%,  #858585 25%, transparent 50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         -webkit-box-shadow: 0px 3px 0px #9b9b9b, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        -moz-box-shadow: 0px 3px 0px #9b9b9b, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        box-shadow: inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
       bottom:-1px;
        right:0;
        position: absolute;
    }
    .redline:before{
            z-index: -1;
            content: "";
            position: absolute;
            left: -20%;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 50%;
            background-color: inherit;
            -webkit-transform: skewX(-10deg);
            -moz-transform: skewX(-10deg);
            -ms-transform: skewX(-10deg);
            transform: skewX(-10deg);
        }
    .navbar-brand{
        margin-right:0;
    }
    .bottom {
      height:28px;
      width: 50%;
      margin:0px;
      position: relative;
      background: maroon;
      display: inline-block;
      color: white;
      padding: .2em .3em .25em;
      z-index: 1;
      float:right;
      right:0;
      bottom:0;
      @include vertical-linear-gradient($curve_decoration_from, $curve_decoration_to);
      -webkit-box-shadow: -11px 2px 15px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(206, 206, 206, 0.3), inset 1px 0px 2px 0px rgba(206, 206, 206, 0.3);
      -moz-box-shadow: -11px 2px 15px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(206, 206, 206, 0.3), inset 1px 0px 2px 0px rgba(206, 206, 206, 0.3);
      box-shadow: -11px 2px 15px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(206, 206, 206, 0.3), inset 1px 0px 2px 0px rgba(206, 206, 206, 0.3);
          &:after{
        pointer-events: all;
        position: absolute;
        z-index: -1;
        content: "";
        left: -15%;
        top: 0;
        height: 100%;
        width: 110%;
        background-color: inherit;
        -webkit-transform: skewX(-25deg);
        -moz-transform: skewX(-25deg);
        -ms-transform: skewX(-25deg);
        transform: skewX(-25deg);
        @include vertical-linear-gradient($curve_decoration_from, $curve_decoration_to);
        -webkit-box-shadow: -11px 2px 15px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(206, 206, 206, 0.3), inset 1px 0px 2px 0px rgba(206, 206, 206, 0.3);
        -moz-box-shadow: -11px 2px 15px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(206, 206, 206, 0.3), inset 1px 0px 2px 0px rgba(206, 206, 206, 0.3);
        box-shadow: -11px 2px 15px 0px rgba(0, 0, 0, 0.3), inset 0px 1px 0px rgba(206, 206, 206, 0.3), inset 1px 0px 2px 0px rgba(206, 206, 206, 0.3);
          -webkit-transition: all ease-in-out .15s;
        -o-transition: all ease-in-out .15s;
        transition: all ease-in-out .15s;
    }

    }
/*    .bottom:before{
            z-index: -1;
            content: "";
            position: absolute;
            left: -10%;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: inherit;
            -webkit-transform: skewX(-25deg);
            -moz-transform: skewX(-25deg);
            -ms-transform: skewX(-25deg);
            transform: skewX(-25deg);
        background: #800000; /* fallback for old browsers */
 //       background: -webkit-linear-gradient(to bottom, #800000, #9b0202); /* Chrome 10-25, Safari 5.1-6 */
 //       background: linear-gradient(to bottom, #800000, #9b0202); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 //      -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
 //       -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
//        box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
//        }
    .top{
      height:28px;
      width: 50%;
      margin:0px;
      font-family: 'Roboto', sans-serif;
      position: relative;
      display: inline-block;
      text-align: right;
      color: white;
      padding: .2em .3em .25em;
      z-index: 1;
      left:-1px;
      top:0;
      &:after{
        pointer-events: all;
        position: absolute;
        z-index: -1;
        content: "";
        left: -5%;
        top: 0;
        height: 100%;
        width: 110%;
        background-color: inherit;
        -webkit-transform: skewX(-25deg);
        -moz-transform: skewX(-25deg);
        -ms-transform: skewX(-25deg);
        transform: skewX(-25deg);
        @include vertical-linear-gradient($curve_decoration_from, $curve_decoration_to);
        -webkit-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        -moz-box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        box-shadow: 0px 3px 15px rgba(0,0,0,.5), inset 0px 1px 0px rgba(206,206,206,.3), inset 0px 0px 3px rgba(206,206,206,.5);
        -webkit-transition: all ease-in-out .15s;
        -o-transition: all ease-in-out .15s;
        transition: all ease-in-out .15s;
    }

    }
 /*   .top:after{
            position: absolute;
            z-index: -1;
            content: "";
            right: -10%;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: inherit;
            -webkit-transform: skewX(-25deg);
            -moz-transform: skewX(-25deg);
            -ms-transform: skewX(-25deg);
            transform: skewX(-25deg);
    }*/
    
    /*.backgrounding{
    background-color:rgba(133,133,133,.5) ;
        background: -webkit-linear-gradient(-65deg, #303030, #858585);
    background: linear-gradient(-65deg, #737373 0%, #636363 19%, #606060 34%, #5e5e5e 47%, #5c5c5c 56.5%, #545454 65%, #505050 73%, #4f4f4f 80.2%, #484848 86.1%, #434343 91%, #3d3d3d 95.2%, #373737 98.2%, #303030 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(-65deg,
        rgba(121, 121, 121, .5) 0%,
        rgba(115, 115, 115, .5) 19%,
        rgba(109, 109, 109, .5) 34%,
        rgba(103, 103, 103, .5) 47%,
        rgba(97, 97, 97, .5) 56.5%,
        rgba(92, 92, 92, .5) 65%,
        rgba(85, 85, 85, .5) 73%,
        rgba(79, 79, 79, .5) 80.2%,
        rgba(73, 73, 73, .5) 86.1%,
        rgba(67, 67, 67, .5) 91%,
        rgba(61, 61, 61, .5) 95.2%,
        rgba(55, 55, 55, .5) 98.2%,
        rgba(48, 48, 48, .5) 100%);
    }*/
    
    .abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    /* Large desktops and laptops */
    @media (min-width: 1200px) {
    }
    
    /* Landscape tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {
    }
    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
        .container-fluid .containernav{
            padding-top:.9rem;
            padding-bottom:.9rem;
        }
        .nav-link,
        .logout .nav-link{
            padding:0;
        }
    }
    
    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
        .container-fluid .containernav{
            display: block;
            padding-top:.9rem;
            padding-bottom:.9rem;
        }
        .nav-link,
        .logout .nav-link{
            padding:0;
        }
    }
    
    /* Portrait phones and smaller */
    @media (max-width: 480px) {
        .abs-center-x{
            position:static;
            left: 0%;
            transform: translateX(0%);
        }
        .container-fluid .containernav{
            display: block;
            padding-top:.9rem;
            padding-bottom:.9rem;
        }
        .nav-link,
        .logout .nav-link{
            padding:0;
        }
    }
    @media(min-width:576px){
        .container-fluid .containernav{
            display: block;
            padding-top:.9rem;
            padding-bottom:.9rem;
        }
        .nav-link,
        .logout .nav-link{
            padding:0;
        }
    }
    @media(min-width:768px){
        .container-fluid .containernav{
            padding-top:.9rem;
            padding-bottom:.9rem;
        }
        .nav-link,
        .logout .nav-link{
            padding:0;
        }
    }
    
    @media(min-width:992px){
        .container-fluid .containernav{
            padding-top:0px;
            padding-bottom:0px;
        }
    }
    @media(min-width:1200px){
    }
    
    
    
    
    
    
    
    
    
    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
    .container-fluid{
    display: block;
    padding-top:1.3rem;
    padding-bottom:1.3rem;
    }
    .loading-wheel {
        position: relative;
    }
    
    }
    
    /* Portrait phones and smaller */
    @media (max-width: 480px) {
    .loading-wheel {
        position: relative;
    }
    .container-fluid{
    padding-top:1.3rem;
    padding-bottom:1.3rem;
    }
    }
    @media (min-width: 768px) and (max-width: 991px) {
    .loading-wheel {
        position: absolute;
    
    }
    .container-fluid{
    padding-top:1.3rem;
    padding-bottom:1.3rem;
    }
    
    
    }
    
    